*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: auto;
    display: flex;
}
.control{
            
    font-size: medium;
    display: inline;
    flex-direction: column;
    /* margin-left: 50px; */
    background-color: hsla(300, 95%, 59%, 0.863);
    padding: 10px;
    border-radius: 75px;
    margin-left: 15px;

    
}
.control:hover{
    background-color: hsla(0, 0%, 0%, 0.959);
    color: hsla(180, 20%, 99%, 0.959);
}
nav{
    float: right;
    margin-top: 60pxpx;
    padding-inline: 2px;
    padding-top: 40px;
    clear: right;
    
}
button{
    background-color: hsla(300, 95%, 59%, 0.863);
    padding: 10px;
    margin-top: 8%;
    border-radius: 75px;
    display: flex;
    margin-left: 45%;
    text-align: center;
    justify-content: center;
}
button:hover{
    background-color: hsla(0, 0%, 0%, 0.959);
    color: hsla(180, 20%, 99%, 0.959);
}
footer{
    margin-top: 8px;
    margin-left: 45%;
}
hr{
    margin-top: 3%;  
}
.skills{
    /* background-color: pink; */
    padding: 20px;
    margin-top: 30px;
    width:30%;
    border-radius: 30px;
    /* width: 70%;
    height: 80%; */
    justify-content: center;
    display: flex;
 
     box-shadow: rgb(179, 179, 179) 1px 1px 3px;
    /*display: flex;
    flex-direction: ;
    */
}
#paragraph{
    justify-content: center;
    text-align: center;
    
    color: black;
}
body{
     margin: 0%;
    padding: 0%; 
    box-sizing: border-box;
    background-color: hsla(0, 0%, 0%, 0.863); 
  
}
#HOBIES{
    height: 150px;
    width: 150px;
   