*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(207, 212, 216);
    place-items: center;
    height: 90vh;
    display: flex;
}
main{
    display: grid;
    grid-template-areas:'a a b c' 
                        'd e e c';
    gap: 10px;
    width: 50%;
    margin: auto;

}
main div{
    padding: 30px;
    text-align: center;
    
    
}
.item1{
    background-color: rgb(123, 25, 214);
    grid-area: a;
}
.item2{
    background-color: rgb(82, 79, 79);
    grid-area: b;
}
.item3{
    background-color: aliceblue;
    grid-area: c;
}
.item4{
    background-color: rgb(29, 20, 46);
    grid-area: d;
}
.item5{
    background-color: antiquewhite;
    grid-area: e;
}